PORT=8080
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/meezaj?retryWrites=true&w=majority
ADMIN_USERNAME=admin
ADMIN_PASSWORD=meezaj_admin_2024
CORS_ORIGIN=http://localhost:4200
UPLOAD_DIR=./uploads
